<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="input[type=text]" />
    </Found>
    <NotFound>
        <PageTitle>Oups</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="album py-5 bg-light">
                <div class="container">
                    <p role="alert">Cette page n'existe plus.</p>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
